<div class="tabs-container">
    {{ nav | safe }}
    
    
    <div class="tabs-right">
        <button class="action-btn">+</button>
        <button class="more-btn"></button>
    </div>
</div>
<div class="toolbar">
    <div class="toolbar-group">
        <button class="toolbar-btn">
            <span class="icon">☰</span>
            Danh sách
            <span class="dropdown-arrow"></span>
        </button>
        
        <button class="toolbar-btn">
            <span class="icon">📊</span>
            Toàn cầu
            <span class="dropdown-arrow"></span>
        </button>
    </div>
    </div>